<h3>Shorcuts</h3>
<li><strong>Space:</strong> Play/Pause</li>
<li><strong>N:</strong> Next song</li>
<li><strong>P:</strong> Previous song</li>
<li><strong>F:</strong> Enter/Exit fullscreen</li>
<li><strong>I:</strong> Display/Hide overlay overlay</li>
<li><strong>G:</strong> Activate/deactivate Giphy on mp3s</li>
<li><strong>&uarr;/&darr;:</strong> Up/Down the volume</li>
<li><strong>M:</strong> Mute</li>
<li><strong>&larr;/&rarr;:</strong> Forward/Backward 1 minute on the song</li>
<li><strong>&lsaquo;/&rsaquo;:</strong> Forward/Backward playback speed</li>
<li><strong>?:</strong> Normal playback speed</li>
<li><strong>1-5:</strong> Rating song</li>
<li><strong>L:</strong> Toggle Live/Official for the song</li>
<li><strong>A:</strong> Add song to active manual playlist</li>
<li><strong>D:</strong> Remove song from active manual playlist</li>