<h3>Συντομεύσεις</h3>
<li><strong>Space:</strong> Έναρξη/παύση αναπαραγωγής</li>
<li><strong>N:</strong> Επόμενο τραγούδι</li>
<li><strong>P:</strong> Προηγούμενο τραγούδι</li>
<li><strong>F:</strong> Είσοδος/έξοδος από fullscreen</li>
<li><strong>I:</strong> Εμφάνιση/εξαφάνιση του overlay</li>
<li><strong>G:</strong> Ενεργοποίηση/απενεργοποίηση του να δείχνει πάντα Giphy στα mp3</li>
<li><strong>&uarr;/&darr;:</strong> Πάνω/κάτω η ένταση του ήχου</li>
<li><strong>M:</strong> Mute</li>
<li><strong>&larr;/&rarr;:</strong> Πίσω/μπροστά 1 λεπτό στο τραγούδι</li>
<li><strong>&lsaquo;/&rsaquo;:</strong> Πίσω/μπροστά στην ταχύτητα αναπαραγωγής</li>
<li><strong>?:</strong> Κανονική ταχύτητα αναπαραγωγής</li>
<li><strong>1-5:</strong> Βαθμολογία τραγουδιού</li>
<li><strong>L:</strong> Εναλλαγή Ζωντανό/Επίσημο για το τραγούδι</li>
<li><strong>A:</strong> Προσθήκη του τραγουδιού στην ενεργή manual playlist</li>
<li><strong>D:</strong> Αφαίρεση του τραγουδιού από την ενεργή manual playlist</li>



