/* Το styling της κεντρικής σελίδας */


/*Color Pallettes*/
/* https://material.google.com/style/color.html#color-color-palette */


pre {
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    padding: 1em;
    font-size: 0.8em;

}


/*Κεντρικό box*/

article {
    position: inherit;
    padding-bottom: 1em;
    height: 99%;
    display: block;
    overflow-y: auto;
}

article h2 {
    color: #37474F;
 }

article h3 {
    color: #37474F;
}


/*Μύνημα λάθους*/
#error_container {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 1em;
    display: flex;
    z-index: 10;
}

#alert_error {
    display:none;
    width: 50%;
    height: auto;
    margin: auto;
    text-align: center;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.7);
    background-color: #FFEDED;
    padding: 0.5em 1em;

}



/* Help */

#helpContainer {
    position: absolute;
    top: 30%;
    left: 20%;
    color: black;
    width: 60%;
    height: 40%;
    font-size: 1em;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 1);
    background-color: #FFFFFF;
    padding: 1em 1em;
    display: none;
    text-align: center;
}

#helpText {
    width: 100%;
    height: 95%;
    padding-right: 1em;
    overflow-y: auto;
    text-align: justify;
}

.help_button {
    background-image: url( '../img/help.png' );
}

.app_icon {
    display: inline-block;
    cursor: pointer;
    border: none;
    width: 1em;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 1.3em;
}




/*Nav menu*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

}

nav li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;

}

nav li {
    margin-top:0.7em;
    color: #607D8B;
    box-shadow:  7px 5px 10px 1px rgba(0, 0, 0, 0.7);
    background-color: #ECEFF1;
    transition:all 0.5s;
    cursor: pointer;
}



nav li a.active {
    background-color: #546E7A;
    color: white;
    box-shadow:  7px 5px 7px 0px rgba(0, 0, 0, 0.7);
    transform: scale(1.05);

}

nav li a:hover:not(.active) {
    background-color: #B0BEC5;
    color: white;
    box-shadow:  7px 5px 7px 0px rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
}


#TotalInPlaylist {
    display: block;
    width: 100%;
    position: absolute;
    bottom:0;
    font-size: 0.8em;
    text-align: center;
}

#TotalNumberInPlaylist {
    font-weight: bold;
}



/*Οι σημαίες για τις γλώσσες*/
.flags {
    width: 1.8em;
    height: 1.3em;
}



#languages {
    margin-top: 1em;
    width: 100%;
    display:block;
    text-align: center;
}


/*Κεντρική mainbar*/
header {
    height: 3%;
    background-color: #607D8B;
    color: white;
    overflow: hidden;
}

#LeftSide {
    width: 30%;
    float: left;
    display: inline-block;
}

#RightSide {
    width: 50%;
    float: right;
    text-align: right;
    display: inline-block;


}

.mainbarcontent {
    display: inline-flex;
}


#account_image {
    width: 1.5em;
    height: 1.5em;
}

#account_name {
    align-self: center;
    position:relative;
}

#logout img {
    width: 1.5em;
    height: 1.5em;
}

#SystemTime {
    align-self: center;
    display: inline-flex;
}

#timetext {
    align-self: center;
}

#SystemTime img {
    width: 1.5em;
    height: 1.5em;

}





/*Login Window*/

#LoginWindow {
    display: block;
    width: auto;
    height: auto;
    margin: auto;

    border-radius: 6px;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.7);
    padding: 1em;
    background-color: #ECEFF1;

}

#LoginWindow .formRow {
    display: block;
    margin-top: 1em;
}

#LoginWindow input[type=text] {
    background-color: white;
    width: 15em;
    border-radius: 6px;
    font-size: 1.5em;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.7);
}

#LoginWindow input[type=password] {
    background-color: white;
    width: 15em;
    border-radius: 6px;
    font-size: 1.5em;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.7);
}

#LoginWindow input[type=button] {
    background-color: #607D8B;
    color: white;
    width: 15em;
    border-radius: 6px;
    border: none;
    font-size: 1.5em;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition:all 0.5s;
}

#LoginWindow input[type=button]:hover {
    transform: scale(1.05);
}



/*Register Window*/

#RegisterUserWindow {
    display: block;
    width: auto;
    height: auto;
    margin: auto;

    border-radius: 6px;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.7);
    padding: 1em;
    background-color: #ECEFF1;

}

#RegisterUserWindow .formRow {
    display: block;
    margin-top: 1em;
}

#RegisterUserWindow input[type=text] {
    background-color: white;
    width: 15em;
    border-radius: 6px;
    font-size: 1.5em;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.7);
}

#RegisterUserWindow input[type=email] {
    background-color: white;
    width: 15em;
    border-radius: 6px;
    font-size: 1.5em;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.7);
}

#RegisterUserWindow input[type=password] {
    background-color: white;
    width: 15em;
    border-radius: 6px;
    font-size: 1.5em;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.7);
}

#RegisterUserWindow input[type=button] {
    background-color: #607D8B;
    color: white;
    width: 15em;
    border-radius: 6px;
    border: none;
    font-size: 1.5em;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition:all 0.5s;
}

#RegisterUserWindow input[type=button]:hover {
    transform: scale(1.05);
}

/*Τα errors στο validation*/
span.error {
    position: relative;
    display: block;
    color: black;
    border: 1px dotted black;
    font-size: 0.8em;
    margin-top: 0.3em;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.7);
    padding: 0.5em;
    background-color: #FFEDED;
    border-radius: 6px;
    width: 20em;
}






/*To footer της σελίδας*/
footer {
    clear: both;
    position: relative;
    background-color: #90A4AE;
    height: 3%;
    font-size: 0.8em;
    color: #FFFFFF;
    display: flex;

}

footer span {
    align-self: center;
    display: inline-flex;
}

#AppVersionContainer {
    position: absolute;
    right: 2em;
    padding: 0;
    margin: 0;
}

#checkCurrentVersion {
    margin-left: 1em;
    color: red;
    font-weight: bold;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
footer a:hover {
    color: white;
    text-decoration: underline;
}

/* selected link */
footer a:active {
    color: white;
    text-decoration: underline;
}

#mobileVersion {
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 0.5%;
}

#mobileVersionText {
    font-size:70%;
}





/*Στοιχεία εμφάνισης στα logs*/
#logs {
    display: table;
    width: auto;
    font-size: 0.7em;
}

#logs .row {
    display: table-row;
}

#logs .row:nth-child(odd) {
    background-color: #CFD8DC;
}

#logs .row:nth-child(even) {
    background-color: #ECEFF1;
}

#logs .col {
    position:relative;
    display: table-cell;
    padding-right: 1em;

}


.logs_id {
    width: 5%;
}

.logs_message {
    width: 30%;
}

.logs_ip {
    width: 5%;
    text-align: center;
}

.logs_user {
    width: 15%;
    text-align: center;
}

.logs_date {
    width: 15%;
    text-align: center;
}

.logs_browser {
    width: 30%;
}

.basic {
    font-weight: bold;
    text-align: center;
}




/*Στοιχεία εμφάνισης ρυθμίσεων*/


.UsersRow {
    display:table-row;
}


.ListTable {
    display:table;
    width:auto;
}

.ListColumn {
    float: left; /*fix for  buggy browsers*/
    display: table-column;
    text-align: center;
    margin-right: 0.3em;
}

.input_field {
    width: 10em;
    font-size: 0.7em;
    /*box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.7);*/
}

.ListTittleRow {
    font-weight: bold;
}


.update_button {
    background-image: url( '../img/update.png' );
    background-repeat: no-repeat;
}

.delete_button {
    background-image: url( '../img/delete.png' );
    background-repeat: no-repeat;
}

.edit_button {
    background-image: url( '../img/edit.png' );
    background-repeat: no-repeat;
}

.export_button {
    background-image: url( '../img/copy.png' );
    background-repeat: no-repeat;
}

.browse_path_button {
    background-image: url( '../img/create.png' );
    background-repeat: no-repeat;
}

.button_img {
    background-size: 1.5em;
    background-color: transparent;
    width: 1.5em;
    border: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    top:-0.3em;
    background-position: center center;
}

.message {
    background-size: 1.5em;

    border: none;
    background-color: transparent;
    background-position: center center;
}

.success {
    background-image: url( '../img/done.png' );
    background-repeat: no-repeat;


}

.failure {
    background-image: url( '../img/problem.png' );
    background-repeat: no-repeat;

}

.table_form {
    padding: 0;
    margin: 0;
}

.general_fail {
    color: darkred;
    font-weight: bold;
}


details div.error {
    position: relative;
    display: block;
    color: black;
    border: 1px dotted black;
    font-size: 0.8em;
    margin-top: 0.3em;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.7);
    padding: 0.5em;
    background-color: #FFEDED;
    border-radius: 6px;
    width: 7em;
}

details .insert_row  {
    margin: 0.5em 0;
}

/*Εμφάνιση του summary/details*/

summary {
    cursor: pointer;
}




/*Input Fields Validation*/

input:required:invalid {
    background-image: url(../img/invalid.png);
    background-position: right center;
    background-repeat: no-repeat;
    border: 1px solid #ee8a10;
    outline: none;
}

input:focus:invalid, input:invalid {
    background-image: url(../img/invalid.png);
    background-position: right center;
    background-repeat: no-repeat;
    border: 1px solid red;
    outline: none;
}
input:required:valid {
    background-image: url(../img/valid.png);
    background-position: right center;
    background-repeat: no-repeat;
    border: 1px solid green;
    outline: none;
}

input {
    border: 1px solid black;
    outline: none;
}



#FormTags input:disabled, #FormTags input:read-only {
    background-color: #CFD8DC;
    color: grey;
    width: 100%;
    margin-bottom: 0.2em;

}

/* Για τον mozilla */
#FormTags input:-moz-read-only {
    background-color: #CFD8DC;
    color: grey;
    width: 100%;
    margin-bottom: 0.2em;

}




#FormTags #title {
    font-size: 1em;
    margin-top: 0.2em;
    width:100%;
}

#FormTags #artist {
    font-size: 1em;
    margin-top: 0.2em;
    width:100%;
}


#FormTags #album {
    font-size: 0.8em;
    margin-top: 0.2em;
    width:100%;
}

#FormTags #genre {
    font-size: 0.8em;
    margin-top: 0.2em;
    width:33%;
    float: left;
    display: inline-block;
}

#FormTags #year {
    font-size: 0.8em;
    margin-top: 0.2em;
    width:33%;
    margin-left:0.2em;
    float: left;
    display: inline-block;
}

#FormTags #live {
    margin-top: 0.2em;
    width: 30%;
    font-size:0.8em;
    margin-left:0.2em;
    float: right;
    display: inline-block;
}

#FormTags select:disabled {
    background-color: #CFD8DC;
    color: grey;
}

#rating_div {
    display: block;
    width:100%;
    position:relative;
    margin-top:2em;
    margin-bottom:1em;
    text-align: center;
}

#FormTags #rating {
    -webkit-appearance: none;
    width: 90%;
    height:10px;
    border-radius: 8px;
    box-shadow: 0 0 5px #333;
    background-image:linear-gradient(to right, white, black);
}

/* Για mozilla */
#FormTags #rating::-moz-range-track {
    -webkit-appearance: none;
    width: 100%;
    height:10px;
    border-radius: 8px;
    box-shadow: 0 0 5px #333;
    background-image:linear-gradient(to right, white, black);
}

#FormTags #rating_output {
    border: 1px solid black;
    background-color: white;
    width: 1em;
    height: auto;
    text-align: center;
    display: inline-block;
}


#tags #submit {
    margin-top:0.5em;
    background-color: black;
    color: white;
    width: 97%;
    border-radius: 6px;
    border: none;
    font-size: 1em;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition:all 0.5s;
}




#tags #submit:hover {
    transform: scale(1.05);
}

/*FormMassiveTags*/

#editTag {
    position: absolute;
    display: none;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.7);
    background-color: white;
    right: 1em;
    top: 1.3em;
    width: 50%;
    height: auto;
    /*border: solid 1px black;*/
    padding: 1em;
    z-index:10;
}

#editTag .thumb {
    width:5em;
    height:5em;
}

#editTag #artist {
    font-size: 1em;
    margin-top: 0.2em;
    width:100%;
}

#editTag #album {
    font-size: 0.8em;
    margin-top: 0.2em;
    width:100%;
}

#editTag #genre {
    font-size: 0.8em;
    margin-top: 0.2em;
    width:33%;
    float: left;
    display: inline-block;
}

#editTag #year {
    font-size: 0.8em;
    margin-top: 0.2em;
    width:33%;
    margin-left:0.2em;
    float: left;
    display: inline-block;
}

#editTag #live {
    margin-top: 0.2em;
    width: 30%;
    font-size:0.8em;
    margin-left:0.2em;
    float: right;
    display: inline-block;
}


#editTag #rating {
    -webkit-appearance: none;
    width: 90%;
    height:10px;
    border-radius: 8px;
    box-shadow: 0 0 5px #333;
    background-image:linear-gradient(to right, white, black 100%);
}

#editTag #rating::-moz-range-track {
    -webkit-appearance: none;
    width: 100%;
    height:10px;
    border-radius: 8px;
    box-shadow: 0 0 5px #333;
    background-image:linear-gradient(to right, white, black 100%);
}



#editTag #rating_output {
    border: 1px solid black;
    background-color: white;
    width: 1em;
    height: auto;
    text-align: center;
    display: inline-block;
}

#editTag #editTagButtons {
    display: block;
    width: 100%;
    text-align: center;
}





/*Fullscreen video*/

#overlay {
    width: 100%;
    height: 100%;
    z-index: 2147483647;
    top:0;
    left: 0;
    position: fixed;
    display: none;
}


#overlay_track_time {
    position: absolute;
    top: 0;
    right: 0;
    color: #FFF;
    width: 100%;
    height: 2em;
    text-align: center;
    font-size: 1.2em;
    z-index: 2147483647;
    display: inline-block;

}


#overlay_track_range {
    -webkit-appearance: none;
    width: 30%;
    height:1.2em;
    border-radius: 8px;
    box-shadow: inset 0 0 5px #333;
    background-image:linear-gradient(to right, white, black);
}

#overlay_track_range::-moz-range-track {
    -webkit-appearance: none;
    width: 100%;
    height:1.2em;
    border-radius: 8px;
    box-shadow: inset 0 0 5px #333;
    background-image:linear-gradient(to right, white, black);
}

#overlay_track_range::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: black solid 1px;
    height: 2em;
    width: 1.2em;
    /*border-radius: 50%;*/
    background: white;
}

#overlay_track_range::-moz-range-thumb  {
    -webkit-appearance: none;
    border: black solid 1px;
    height: 2em;
    width: 1.2em;
    /*border-radius: 50%;*/
    background: white;
}


#overlay_rating {
    position: absolute;
    top: 0.5em;
    left: 0;
    color: #FFF;
    width: 5em;
    height: 2em;
    text-align: left;
    font-size: 3em;
    z-index: 2147483647;
    display: inline-block;
}

#overlay_play_count {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 15px;
    color: #FFF;
    width: 2em;
    height: 2em;
    text-align: center;
    font-size: 2em;
    z-index: 2147483647;
    display: inline-block;
}

#overlay_volume {
    position: fixed;
    top: 30%;
    left: 0;
    color: #FFF;
    width: 100%;
    height: 10em;
    text-align: center;
    z-index: 2147483647;
    display: none;
}


#overlay_volume_text {
    width: 1.2em;
    height: 1.4em;
    padding: 0.2em;
    font-size: 10em;
    background-color: rgba(221, 221, 221, 0.3);
    border-radius: 0.2em;
    display: inline-block;
}

.overlay_volume_up {
    background-image: url(../img/volume_up.png);
    background-size: 0.5em;
    background-position: bottom center;
    background-repeat: no-repeat;
    outline: none;
}

.overlay_volume_down {
    background-image: url(../img/volume_down.png);
    background-size: 0.5em;
    background-position: bottom center;
    background-repeat: no-repeat;
    outline: none;
}

.overlay_volume_mute {
    background-image: url(../img/volume_off.png);
    background-size: 0.5em;
    background-position: bottom center;
    background-repeat: no-repeat;
    outline: none;
}

.overlay_giphy {
    background-image: url(../img/giphy_logo.png);
    background-size: 0.4em;
    background-position: bottom center;
    background-repeat: no-repeat;
    outline: none;
}

#bottom_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    width: 100%;
    height: 4em;
    text-align: left;
    font-size: 2em;
    background-color: rgba(221, 221, 221, 0.3);
    padding: 0.5em 2em 0.5em 1em;
    z-index: 2147483647;
    display: inline-block;
}

#error_overlay {
    position: absolute;
    bottom: 30%;
    left: 40%;
    color: #FFFFFF;
    width: 20%;
    height: auto;
    text-align: center;
    font-size: 1em;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.7);
    background-color: rgba(221, 221, 221, 0.3);
    padding: 0.5em 1em;
    z-index: 2147483647;
    display: none;
}


.full_screen_video {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: 100%; height: auto; z-index: -100;
    background-color: black;
}



#myVideo {
    z-index: 10;
    height: 40%;
}

#myVideo::-webkit-media-controls-panel {
    display:none;
}


#overlay_artist { font-weight: bold; display: block; }
#overlay_song_name { display: block; font-size: 0.7em; }
#overlay_song_year { display: block;  }
#overlay_album { display: block;  font-size: 0.6em; }

#bottom_right_overlay {
    position: absolute;
    bottom: 2em;
    right: 0;
    color: #FFF;
    width: 100%;
    height: 2em;
    text-align: right;
    font-size: 1em;
    padding: 0.5em 1em 0.5em 1em;
    z-index: 2147483647;
    display: inline-block;
}

#overlay_live { display: block; font-size: 1em;}
#overlay_time { display: block; font-size: 1.4em; }



/*Progress*/
#progress {
    position: absolute;
    background-image: url(../img/Loading_icon.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: auto;
    border: 1px solid black;
    top: 40%;
    left: 40%;
    width: 20%;
    height: 25%;
    display: none;
}

#logprogress {
    position: fixed;
    left: 40%;
    text-align: center;
    display: none;
    width: 20%;
}


/* From https://css-tricks.com/html5-progress-element/ */
#theProgressBar {
    -webkit-appearance: none;
    -moz-appearance: none;
    /*left: 25%;*/
    width: 50%;
    height: 1em;

    /* For IE10 */
    color: blue;

    /* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
    border: none;
}

#theProgressBar::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#theProgressBar::-webkit-progress-value {
    background-image:
            -webkit-linear-gradient(-45deg,
            transparent 33%, rgba(0, 0, 0, .1) 33%,
            rgba(0,0, 0, .1) 66%, transparent 66%),
            -webkit-linear-gradient(top,
            rgba(255, 255, 255, .25),
            rgba(0, 0, 0, .25)),
            -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

#theProgressBar::-moz-progress-bar {
    background-image:
            -moz-linear-gradient(
                    135deg,
                    transparent 33%,
                    rgba(0, 0, 0, 0.1) 33%,
                    rgba(0, 0, 0, 0.1) 66%,
                    transparent 66%
            ),
            -moz-linear-gradient(
                    top,
                    rgba(255, 255, 255, 0.25),
                    rgba(0, 0, 0, 0.25)
            ),
            -moz-linear-gradient(
                    left,
                    #09c,
                    #f44
            );

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

#theProgressNumber {
    display: inline-block;
}

#killCommand_img {
    background-image: url( '../img/killCommand.png' );
    background-repeat: no-repeat;
    top: auto;
    background-size: 2em;
}


/*Buttons*/
#editButtons {
    position: absolute;
    display: block;
    text-align: right;
    width: 10em;
    right: 0;
    top: 0;
}

#browseButtons {
    width:100%;
    display: block;
    text-align: right;
    padding: 0em 0 0.3em 0;
}

.myButton {
    background-color: black;
    color: white;
    width: auto;
    border-radius: 6px;
    border: none;
    font-size: 0.6em;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition:all 0.5s;
    margin: 0.1em 0.5em 0.1em 0.5em;
}

.syncButton:disabled {
    background-color: red;
}




.myButton:hover {
    transform: scale(1.05);
}





/*Search*/
#ChooseMediaKind {
    display: inline-block;
    width: auto;
    top:0;

}

#ChooseMediaKind #mediakind {
    font-size: 0.7em;
}

#searchClick {
    display: inline-block;
    cursor: pointer;
    border: none;
    width: 1.7em;
    background-color: transparent;
    background-image: url( '../img/search.png' );
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 2em;
}

#searchClick:hover {
    transform: scale(1.15);
}

#search {
    position: absolute;
    display: none;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.7);
    background-color: white;
    right: 1em;
    width: 70%;
    height: auto;
    /*border: solid 1px black;*/
    padding: 1em;
    z-index:1;
}

#search #searchButtons {
    display: block;
    width: 100%;
    text-align: center;
}


/*Playlist*/

.playlistTittle {
    font-weight: bold;
}


#playlist_container {
    overflow-y: scroll;
    height:96%;
}

#playlistTable {
    display: table;
    width: 100%;
    height: auto;
    font-size: 0.7em;
    border-collapse: collapse;
}

.track {
    display: table-row;
    /*cursor: pointer;*/
}

.track:nth-child(odd) {
    background-color: #CFD8DC;
}

.track:nth-child(even) {
    background-color: #ECEFF1;
}

.track:hover {
    background-color: #B0BEC5;
}

#playlistTable .ItemActive {
    background-color: #B0BEC5;
}



.tag {
    display: table-cell;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 0.5em;
}

.kind {
    max-width: 1em;
    padding: 0.4em;
}

.kind_music {
    background-image: url( '../img/music.png' );
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: center center;
}

.kind_music_video {
    background-image: url( '../img/music_video.png' );
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: center center;
}

.delete_file {
    width: 0.2em;
    margin: 0;
    z-index: 10;
}

.song_name {
    max-width: 10em;
}

.artist {
    max-width: 5em;
}

.album {
    max-width: 2em;
}

.genre {
    max-width: 2em;
}

.song_year {
    max-width: 2em;
}

.play_count {
    max-width: 1em;
}

.rating {
    max-width: 1em;
}

.date_added {
    max-width: 3em;
}

.play_button {
    background-image: url( '../img/play.png' );
    background-repeat: no-repeat;
}

.play_button_white {
    background-image: url( '../img/play_white.png' );
    background-repeat: no-repeat;
}

.pause_button_black {
    background-image: url( '../img/pause_black.png' );
    background-repeat: no-repeat;
}

.pause_button_white {
    background-image: url( '../img/pause_white.png' );
    background-repeat: no-repeat;
}

.searchableItem:hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}


.vote_button {
    background-image: url( '../img/favorite.png' );
    background-repeat: no-repeat;
}

.playlist_add_button {
    background-image: url( '../img/playlist_add.png' );
    background-repeat: no-repeat;
}

.playlist_remove_button {
    background-image: url( '../img/playlist_remove.png' );
    background-repeat: no-repeat;
}

.next_button_black {
    background-image: url( '../img/next_black.png' );
    background-repeat: no-repeat;
}
.next_button_white {
    background-image: url( '../img/next_white.png' );
    background-repeat: no-repeat;
}

.prev_button_black {
    background-image: url( '../img/previous_black.png' );
    background-repeat: no-repeat;
}

.prev_button_white {
    background-image: url( '../img/previous_white.png' );
    background-repeat: no-repeat;
}

.fullscreen_button_maximize {
    background-image: url( '../img/fullscreen_black.png' );
    background-repeat: no-repeat;
}

.fullscreen_button_minimize {
    background-image: url( '../img/fullscreen_white.png' );
    background-repeat: no-repeat;
}

.gif_button {
    background-image: url( '../img/gif_logo.png' );
    background-repeat: no-repeat;
}

.shuffle_button {
    background-image: url( '../img/shuffle.png' );
    background-repeat: no-repeat;
}

.shuffle_on {
    opacity: 0.3;
}

.shuffle_off {
    opacity: 1;
}

.fullscreen_button_info {
    background-image: url( '../img/info_white.png' );
    background-repeat: no-repeat;
}



.playlist_button_img {
    background-size: 1.5em;
    width: 1.5em;
    background-color: transparent;
    border: none;
    /*padding-top:0.5em;*/
    cursor: pointer;
    position: relative;
    display: inline-block;
    background-position: center center;
}

.fullscreen_button_img {
    background-size: 7em;
    width: 7em;
    height: 7em;
    background-color: transparent;
    border: none;
    /*padding-top:0.5em;*/
    cursor: pointer;
    position: relative;
    display: inline-block;
    background-position: center center;
}

.fullscreen_icon_img {
    background-size: 4em;
    width: 5em;
    height: 5em;
    background-color: transparent;
    border: none;
    /*padding-top:0.5em;*/
    cursor: pointer;
    position: relative;
    display: inline-block;
    background-position: top center;
}

.video_controls_button_img {
    background-size: 3em;
    width: 3em;
    height: 3em;
    background-color: transparent;
    border: none;
    /*padding-top:0.5em;*/
    cursor: pointer;
    position: relative;
    display: inline-block;
    background-position: center center;
}


/* Η μπάρα με την χρονική στιγμή στο τραγούδι (εκτός full screen)*/

#track_range {
    -webkit-appearance: none;
    width: 100%;
    height:0.5em;
    border-radius: 8px;
    /*box-shadow: inset 0 0 5px #333;*/
    background-color: transparent;
    /*background-image:linear-gradient(to right, white, black);*/
    margin: 1em 0;
}

#track_range::-moz-range-track {
    -webkit-appearance: none;
    width: 100%;
    height:0.5em;
    border-radius: 8px;
    /*box-shadow: inset 0 0 5px #333;*/
    background-color: transparent;
    /*background-image:linear-gradient(to right, white, black);*/
    margin: 1em 0;
}

#track_range::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: black solid 1px;
    height: 1em;
    width: 0.3em;
    /*border-radius: 50%;*/
    background: white;
}

#track_range::-moz-range-thumb  {
    -webkit-appearance: none;
    border: black solid 1px;
    height: 1em;
    width: 0.3em;
    /*border-radius: 50%;*/
    background: white;
}


#the_time_track {
    font-size:70%;
    text-align: center;
    width: 100%;
    display: block;
}


.coverImage {
    display: none;
    position: fixed;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.7);
    left: 1em;
    bottom:20%;
    width: 7%;
    z-index:10;
}


/* Playlist window */
#insertPlaylistWindow {
    position: absolute;
    display: none;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.7);
    background-color: white;
    right: 1em;
    width: 50%;
    height: auto;
    /*border: solid 1px black;*/
    padding: 1em;
    z-index:10;
}


#ChoosePlaylist {
    display: inline-block;
    width: auto;
    top:0;
    margin-left: 3em;

}

#ChoosePlaylist #playlist {
    font-size: 0.7em;
}

#insertPlaylistClick {
    display: inline-block;
    cursor: pointer;
    border: none;
    width: 1.7em;
    background-color: transparent;
    background-image: url( '../img/create.png' );
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 2em;
}

#deletePlaylistClick {
    display: inline-block;
    cursor: pointer;
    border: none;
    width: 1.7em;
    background-color: transparent;
    background-image: url( '../img/delete.png' );
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 2em;
}

#playPlaylist {
    display: inline-block;
    cursor: pointer;
    border: none;
    width: 1.7em;
    background-color: transparent;
    background-image: url( '../img/play.png' );
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 2em;
}

#searchClick:hover {
    transform: scale(1.15);
}


/*Συγχρονισμός */

#youTubeUrl {
    width: 90%;
    height: 10em;
}

.updateRows, .deleteRows {
    display: block;
}

.youtube_success {
    color: green;
    font-weight: bold;
}

.youtube_fail {
    color: darkred;
    font-weight: bold;
}


/* Browse path */
#browsePathWindow {
    position: absolute;
    display: none;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.7);
    background-color: white;
    right: 1em;
    width: 70%;
    height: auto;
    /*border: solid 1px black;*/
    padding: 1em;
    z-index:1;
}

#browsePathButtons {
    display: block;
    width: auto;
    text-align: center;
    position: relative;
}

#displayPaths {
    display: block;
    position: relative;
    width: auto;
    height: 10em;
    overflow-y: auto;
    border: solid 1px black;
}

#chosenPath {
    display: block;
    position: relative;
    width: auto;
    height: 1em;
    text-align: center;
    padding: 0.2em 1em 0.2em 1em;
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.thePaths {
    display: block;
    position: relative;
    width: auto;
    height: 1em;
    padding: 0 0 0.2em 2em;
    cursor: pointer;
}

.thePaths:nth-child(odd) {
    background-color: #CFD8DC;
}

.thePaths:nth-child(even) {
    background-color: #ECEFF1;
}


/* Some Tools */
#someTools {
    display: inline-block;
    width: auto;
    top:0;
    margin-left: 3em;
}


/* Media Controls */
#mediaControls {
    width:100%;
    display: block;
    text-align: center;
}

#overlay_media_controls {
    position: fixed;
    top: 46.5%;
    left: 0;
    color: #FFFFFF;
    width: 100%;
    height: 5em;
    text-align: center;
    font-size: 1em;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.7);
    background-color: #333333;
    opacity: 0.6;
    padding: 0.5em 1em;
    z-index: 2147483647;
    display: none;
}