html, body {
    height:100%;
    width: 98%;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height:1.2;
    background-color: #CFD8DC;
    overflow: hidden;
}


header, footer {
    font-size: 120%;
    border-radius: 6px;
    width: auto;
    margin: 0.5em;
    margin-top: 1em;
    padding: 1em 1em;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.7);
    /*display:block;*/
}

/*Κεντρικό box*/
section {
    font-size: 120%;
    margin: 0.5em;
    padding: 0;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.7);
    position: relative;
    display: block;
    width: auto;
    height: 73%;
    background-color: #ECEFF1;
    color: #455A64;
}

article {
    position: inherit;
    height: 100%;
    width: 100%;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

article h2 {
    color: #37474F;
}

article h3 {
    color: #37474F;
}

/*Μύνημα λάθους*/
#error_container {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 1em;
    display: flex;
    z-index: 10;
}

#alert_error {
    display:none;
    width: 50%;
    height: auto;
    margin: auto;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.7);
    background-color: #FFEDED;
    padding: 0.5em 1em;
    text-align: center;

}


/*Οι σημαίες για τις γλώσσες*/
.flags {
    width: 1.8em;
    height: 1.3em;
}



#languages {
    margin: 1em;
    width: auto;
    height: 3%;
    display:block;
    text-align: center;
}



/*To footer της σελίδας*/
footer {
    /*clear: both;*/
    position: relative;
    bottom:0;
    background-color: #90A4AE;
    height: 3%;
    font-size: 0.8em;
    color: #FFFFFF;
    display: flex;

}

footer span {
    align-self: center;
    display: inline-flex;
}

#AppVersionContainer {
    position: absolute;
    right: 2em;
    padding: 0;
    margin: 0;
}

#checkCurrentVersion {
    margin-left: 1em;
    color: red;
    font-weight: bold;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
footer a:hover {
    color: white;
    text-decoration: underline;
}

/* selected link */
footer a:active {
    color: white;
    text-decoration: underline;
}


/*Playlist*/

.playlistTittle {
    font-weight: bold;
}


#playlist_container {
    overflow-y: scroll;
    overflow-x: hidden;
    height:100%;
    padding-right: 1em;
}

#playlistTable {
    display: table;
    position: relative;
    width: 97%;
    /*height: 100%;*/
    /*font-size: 0.7em;*/
    padding: 0;
    border-collapse: collapse;
    margin-left: 1em;
}

.track {
    display: table-row;
    padding-right: 2em;
    /*cursor: pointer;*/
}

.track:nth-child(odd) {
    background-color: #CFD8DC;
}

.track:nth-child(even) {
    background-color: #ECEFF1;
}

.track:hover {
    background-color: #B0BEC5;
}

#playlistTable .ItemActive {
    background-color: #B0BEC5;
}



.tag {
    display: table-cell;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 0.5em;

}


.delete_file {
    width: 1em;
    margin: 0;
    z-index: 10;
    max-width: 2em;
}

.song_name {
    max-width: 10em;
}

.song_year {
    max-width: 2em;
}

.the_song_artist {
    font-weight: bold;
}


.vote_button {
    background-image: url( '../img/favorite.png' );
    background-repeat: no-repeat;
    cursor: pointer;
}


.playlist_button_img {
    background-size: 1.5em;
    background-color: transparent;
    width:1.5em;
    border: none;
    /*padding-top:0.5em;*/
    cursor: pointer;
    position: relative;
    display: inline-block;
    background-position: center center;
}

.blackRow{
    color:white;
    font-weight: bold;
}




#browseButtons {
    width:100%;
    display: block;
    text-align: center;
    padding: 0em 0 0.3em 0;
}

.myButton {
    background-color: black;
    color: white;
    width: auto;
    border-radius: 6px;
    border: none;
    font-size: 0.6em;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition:all 0.5s;
    margin: 0.1em 0.5em 0.1em 0.5em;
}



/* Current Song*/
#currentSong {
    display: block;
    width: auto;
    text-align: center;
}

#currentSongArtist {
    font-weight: bold;
}


/*Votes List*/


#votesList {
    font-size: 120%;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.7);
    margin: 1em;
    width: 90%;
    left:2%;
    background-color: #ECEFF1;
    color: #455A64;
    display: none;
    height: auto;

    position: absolute;
    bottom: 0;

}

#votesListText {
    width: 100%;
    height: 95%;
    padding-right: 1em;
    overflow-y: auto;
    text-align: justify;
}

ul {
    list-style-type: none;
}



